/*"Normaali" ruudun koko"*/
h1 {
    font-family: 'Brush Script MT', cursive;
    margin-top: 1em;
    text-align: center;

}

h3 {
    font-family: 'Brush Script MT', cursive;
    margin-left: 1.25em;
}

.logo {

    width: 400px;
}

a {

    text-decoration: none;
    color: white;
    font-weight: 700;

}

iframe {
    width: 100%;
    height: 100%;
}

li a {
    font-weight: normal;
}

li a:hover {

    font-weight: 500;
}


video {
    
z-index: -1;   
    
   
}

/* Some-linkit */
.fab {
    margin-right: 12px;
    font-size: 15px;
    width: 40px;
    height: 40px;
    text-decoration: none;
    border-radius: 50%;
}

.fab:hover {
    opacity: 0.5;
    color: white;
}
  
/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
    font-size: 26px;
    padding: 7.3px;
}
  
/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
    font-size: 25px;
    padding: 7.8px;
}

/* Instagram */
.fa-instagram {
    background: #b9187b;
    color: white;
    font-size: 30px;
    padding: 6.2px;
}



/*Kun ruudun leveyd 425px ja pienempi*/
@media screen and (max-width: 425px) {

  
      .carousel-slide .carousel-item {
        height: 700px;
        width: 500px;
    } 
.logo {

    width: 260px;
}

}

/*Kun ruudun leveys 1300px ja suurempi*/
@media screen and (min-width: 1300px){
.container-fluid {
    width: 75%;
    margin:auto;
    
}
body {
    background-color: whitesmoke;
}

  
  .flexgrowcontainer {
    display: flex;
    align-items: stretch;
}
.carousel-slide .carousel-item {
    height: 1200px;
    width: 900px;
} 
.text {
    color: #000000;
    font-size: 15px;
    padding: 2px 2px;
    position: middle;
    bottom: 2px;
    width: 100%;
    text-align: center;
  }
  
}
