
/*Kun ruudun leveys 1300px ja suurempi*/
@media screen and (min-width: 1300px){
.container-fluid {
    width: 75%;
    margin:auto;
}
body {
    background-color: whitesmoke;
}
.logo {
    align-content: center;
    margin:auto;
    background-repeat: no-repeat;
    background-size: contain ;
    width: 1500px;
}

h1 {
    font-family: 'Brush Script MT', cursive;
    margin-top: 0.5em;
}
h3 {
    font-family: 'Brush Script MT', cursive;;
}
}