h1 {
    font-family: 'Brush Script MT', cursive;
    margin-top: 0.5em;
}

h3 {
    font-family: 'Brush Script MT', cursive;
}

/* Some-linkit */
.fab {
    margin-right: 12px;
    font-size: 15px;
    width: 40px;
    height: 40px;
    text-decoration: none;
    border-radius: 50%;
}

.fab:hover {
    opacity: 0.5;
    color: white;
}
  
/* Facebook */
.fa-facebook {
    background: #3B5998;
    color: white;
    font-size: 26px;
    padding: 7.3px;
}
  
/* Twitter */
.fa-twitter {
    background: #55ACEE;
    color: white;
    font-size: 25px;
    padding: 7.8px;
}

/* Instagram */
.fa-instagram {
    background: #b9187b;
    color: white;
    font-size: 30px;
    padding: 6.2px;
}

.logo {

    width: 400px;
    padding: 20px;
}


@media screen and (max-width: 375px) {

    .logo {

        width: 310px;
        padding-top: 25px;
    }
}

/*Kun ruudun leveys 1300px ja suurempi*/
@media screen and (min-width: 1300px){
.container-fluid {
    width: 75%;
    margin:auto;
}
body {
    background-color: whitesmoke;
}

.logo {
    padding-top: 10px;
    width: 470px;
}


}